@model List<WebMVC.Models.Product>
@using WebMVC.Models
@{
    ViewBag.Title = "Search";
    Layout = "/Views/Shared/_Layout.cshtml";
    var user = (User)Session["user"];
}
@section jsFooter{
    <script>
        $('.addCart').off('click').on('click', function (e) {
            e.preventDefault();
            var proId = $(this).data('id');
            $.ajax({
                url: '/Cart/AddItem',
                type: 'POST',
                async: true,
                data: { proId: proId },
                success: function (msg) {
                    if (msg.status == 'true') {
                        $('#cartText').text('Giỏ hàng: ' + msg.totalProducts);
                        $('#cartPrice').text(msg.totalPrice + ' đ');
                        $('#cartQuantity').text(msg.totalProducts);
                    }
                    else {
                        alert('Thêm không thành công');
                    }
                }
            })
        });
    </script>
}
<div class="span9">
    <ul class="breadcrumb">
        <li><a href="/Home">Trang chủ</a> <span class="divider">/</span></li>
        <li class="active">Tìm kiếm</li>
    </ul>
    <h3> Có @Model.Count kết quả phù hợp </h3>
    <hr class="soft" />
    <br class="clr" />
    <div class="tab-content">
        <div class="tab-pane  active" id="blockView">
            <ul class="thumbnails">
                @foreach (var item in Model)
                {
                    <li class="span3">
                        <div class="thumbnail">
                            <a href=@Url.Action("ProductDetail", "Product", new { Id = item.Id })><img src=@item.Avatar alt="" /></a>
                            <div class="caption">
                                <h5>@item.Name</h5>
                                @if (user != null)
                                {
                                    <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn addCart" data-id=@item.Id>Thêm <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">@item.Price đ</a></h4>
                                }
                                else
                                {
                                    <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href=@Url.Action("Index","Login")>Thêm <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">@item.Price đ</a></h4>
                                }
                            </div>
                        </div>
                    </li>
                }
            </ul>
            <hr class="soft" />
        </div>
    </div>
    <br class="clr" />
</div>
