@model WebMVC.Models.User
<table class="table table-bordered">
    <tr><th>THÔNG TIN GIAO HÀNG</th></tr>
    <tr>
        <td>
            <form class="form-horizontal">
                <div style="margin-left: 7rem" class="control-group">
                    <label class="control-label" for="inputCountry">Họ tên người nhận </label>
                    <div class="controls">
                        <input type="text" id="inputCountry" placeholder = @Model.Name>
                    </div>
                </div>
                <div style="margin-left:7rem" class="control-group">
                    <label class="control-label" for="inputPost">Số điện thoại</label>
                    <div class="controls">
                        <input type="text" id="inputPost" placeholder= @Model.Phone>
                    </div>
                </div>
                <div style="margin-left: 7rem" class="control-group">
                    <label class="control-label" for="inputPost">Địa chỉ nhận hàng</label>
                    <div class="controls">
                        <input type="text" id="inputPost" placeholder= @Model.Address>
                    </div>
                </div>
                <div style="margin-left: 7rem" class="control-group">
                    <label class="control-label" for="inputPost">Ghi chú</label>
                    <div class="controls">
                        <textarea type="text" id="inputPost" placeholder="Postcode"></textarea>
                    </div>
                </div>
                <div style="margin-left: 7rem" class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn">ESTIMATE </button>
                    </div>
                </div>
            </form>
        </td>
    </tr>
</table>
