@model List<WebMVC.Models.Product>
<div class="row-fluid">
    <div id="featured" class="carousel slide">
        <div class="carousel-inner">
            <div class="item active">
                <ul class="thumbnails">
                    @for (int j = 0; j < 4; j++)
                    {
                        <li class="span3">
                            <div class="thumbnail">
                                <i class="tag"></i>
                                <a href="product_details.html"><img src=@Model[j].Avatar alt=""></a>
                                <div class="caption">
                                    <h5>@Model[j].Name</h5>
                                    <h4><a class="btn" href="product_details.html">Thêm</a> <span class="pull-right">@Model[j].Price đ</span></h4>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            @for (int i = 1; i < 2; i++)
            {
                <div class="item">
                    <ul class="thumbnails">
                        @for (int j = 0; j < 4; j++)
                        {
                            <li class="span3">
                                <div class="thumbnail">
                                    <i class="tag"></i>
                                    <a href="product_details.html"><img src=@Model[j+4*i].Avatar alt=""></a>
                                    <div class="caption">
                                        <h5>@Model[j + 4 * i].Name</h5>
                                        <h4><a class="btn" href="product_details.html">Thêm</a> <span class="pull-right">@Model[j + 4 * i].Price đ</span></h4>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
        <a class="left carousel-control" href="#featured" data-slide="prev">‹</a>
        <a class="right carousel-control" href="#featured" data-slide="next">›</a>
    </div>
</div>
